@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

:root {
  --ms-tag-bg: #DBEAFE;
  --ms-tag-color: #2563EB;
  --ms-option-bg-selected-pointed: #2563EB;
  --ms-option-bg-selected:  #2563EB;
}
.error-dropdown{

  --ms-placeholder-color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* ANIMATIO */
@keyframes inAnimation {
      0% {
        opacity: 0;
        visibility: hidden;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }
    
@keyframes outAnimation {
    0% {
       opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}
#app {
  @apply w-screen transition-position lg:w-auto;
}

.no-sort::after {
  display: none !important;
}
.no-sort {
  pointer-events: none !important;
  cursor: default !important;
  background-image: none !important;
}
.dataTables_paginate a {
  padding: 6px 9px !important;
  /* background: #123e81 !important; */
  /* border-color: #fff !important; */
  /* color: #fff !important; */
}

.dataTables_paginate span {

  /* background: #fff !important; */
  /* color: #fff !important; */
}
.paginate_button{

  background: #a2a2a2 !important;
  color: #fff !important;
}
.paginate_button.previus{

  background: #123e81 !important;
  color: #fff !important;
}
.paginate_button.previus.disabled{

  background: #123e81 !important;
  color: #fff !important;
}
#chemicalTable_previous{
  background: #123e81 !important;
  color: #fff !important;
}
#chemicalTable_next{
  background: #123e81 !important;
  color: #fff !important;
}
#activeRuns_previous{
  background: #123e81 !important;
  color: #fff !important; 
}
#activeRuns_next{
  background: #123e81 !important;
  color: #fff !important; 
}
#photosTable_previous{

  background: #123e81 !important;
  color: #fff !important; 
}
#photosTable_next{

  background: #123e81 !important;
  color: #fff !important; 
}
#partsTable_previous{
  background: #123e81 !important;
  color: #fff !important; 
}
#partsTable_next{
  background: #123e81 !important;
  color: #fff !important; 
}
#tableUsers_previous{
  background: #123e81 !important;
  color: #fff !important; 
}

#tableUsers_next{
  background: #123e81 !important;
  color: #fff !important; 
}
#tableCompanies_previous{
  background: #123e81 !important;
  color: #fff !important; 
}
#tableCompanies_next{
  background: #123e81 !important;
  color: #fff !important; 
}
#activeRunsDetail_previous{
  background: #123e81 !important;
  color: #fff !important; 
}

#activeRunsDetail_previous{
  background: #123e81 !important;
  color: #fff !important; 
}
#activeRunsDetail_next{
  background: #123e81 !important;
  color: #fff !important; 
}


.paginate_button.current
{
        background-color: #0271c5 !important;
        color:#fff !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
tbody tr:hover {
  background-color: #e1e8f3 !important;
  color:  #3b4559 !important;
  font-size: 16px !important;
  font-weight: 500;
}
.dataTables_info{
  color: #3b4559 !important;
  font-weight: 600;
  font-size: 16px;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
tbody tr{
  /* background-color: #e1e8f3 !important; */
  /* color:  #3b4559; */
  font-size: 16px !important;
  cursor: pointer;
  font-weight: 500;
}
table.dataTable.display tbody tr{
  text-align: center;
}