@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



:root {
  --ms-tag-bg: #DBEAFE;
  --ms-tag-color: #2563EB;
  --ms-option-bg-selected-pointed: #2563EB;
  --ms-option-bg-selected:  #2563EB;
}
.error-dropdown{

  --ms-placeholder-color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* ANIMATIO */
@keyframes inAnimation {
      0% {
        opacity: 0;
        visibility: hidden;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }
    
@keyframes outAnimation {
    0% {
       opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}
#app {
  @apply w-screen transition-position lg:w-auto;
}

.no-sort::after {
  display: none !important;
}
.no-sort {
  pointer-events: none !important;
  cursor: default !important;
  background-image: none !important;
}